#victory-log {
  width: 100%; z-index: 999999; position: fixed; bottom: 0px;
}

#victory-log .header {
  background: rgb(53, 55, 97);
  height: 25px;
  color: #fff;
  border-bottom: 1px solid rgb(68, 73, 122);
}

#victory-log .ui {
  display:inline-flex; border: 1px solid rgba(34,36,38,.15); box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  position: absolute;
  right: 10px;
  top: -50px;
  overflow: auto;
}

#victory-log .ui .item {
  position: relative; vertical-align: middle; text-decoration: none; flex: 0 0 auto; background: 0 0; padding: .92857143em 1.14285714em; color: rgba(0,0,0,.87); font-weight: 400; transition: background .1s ease,box-shadow .1s ease,color .1s ease,-webkit-box-shadow .1s ease;
}

#victory-log .ui .item .badge {
  display:none; padding: .3em .78571429em; background: #999; position: absolute; z-index: 100; top:-1em; left: 100%; margin: 0 0 0 -1.5em !important; background: #db2828!important; border-color: #db2828!important; color: #fff!important
}

#victory-log .xhr-error-panel {
  width: 100%; height: 300px; ;
}

#victory-log .xhr-error-panel ul {
  background: rgb(53, 55, 97); font-size: 14px; color: #fff; height: 100%; margin:0;
  padding: 0;
  overflow: auto;
}

#victory-log .xhr-error-panel ul li {
  list-style: square; padding: 10px 10px 0 10px; border-bottom: 1px solid rgb(68, 73, 122);
}
